
.game {
    background-image: url(./images/odest_collection/game-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    padding: 0px;
    height: 100vh;
}

#music {
    margin: 10px;
    position: absolute;
    width: 35px;
}

#fashionArena {
    height: 65%;
    margin: 0 auto;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 16vh;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: 50% 48%;
    background-size: contain;
    position: relative;
    width: 40%;
    margin-left: 16%;
}

#look {
    position: relative
}

#look div {
    position: absolute;
    left: 0px;
    top: 0px;
}

#fashionArena img{
    margin: 0 auto;
    height: 100%;
}

#activeItems {
    position: absolute;
    /* width: 100%; */
    height: 100px;
    top: 0px;
    left: 25%;
    display: flex;
    justify-content: flex-end;
}

#activeItems .active-item {
    width:100px;
    height: 100px;
    margin: 5px;

    box-shadow: 0 10px 15px rgba( 0, 0, 0, 0.2),
    0px 0px 10px rgba(0,0,0,0.15),
inset 0px 3px 5px rgba(255,255,255,0.5);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-right: .5px solid rgba(255, 255, 255, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
border-left: 1px solid rgba(255, 255, 255, 0.5);
position: relative;
}

#activeItems .active-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#activeItems .active-item .remove-item {
    border: 1px solid red;
    position: absolute;
    top: -6px;
    right: -6px;
    cursor: pointer;
}

#activeItems .active-item .remove-item img {
    width: 15px;
    height: 15px;
}



#outfit {
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#choices, #itemTypes{
overflow: hidden;
}

#itemTypes {
    position: absolute;
    left: 0;
    top: 13vh;
    z-index: 3;
    display: flex;
    flex-direction: row;
    width: 110px;
}

#itemTypes ul {
    width: 100%; 
    /* margin: auto; */
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 5px; */
    overflow-x: scroll;
    cursor: grab;
    padding: 0px;
}

#choices {
    position: absolute;
    bottom: 10px;
    z-index: 30;
}

#choices ul {
    min-height: 70px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    overflow-x: scroll;
    cursor: grab;
}

#choices ul::-webkit-scrollbar-track
{
border-radius: 2px;
}

#choices ul::-webkit-scrollbar
{
width: 5px;
height: 5px;
background-color: #F7F7F7;
}
#choices ul::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(176, 119, 119, 0.3);
background-color: rgb(212, 128, 142);
}

#choices ul li div, #itemTypes ul li div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: rgba(255, 255, 255, 0.06);
    color: #fff;
    box-shadow: 0 10px 15px rgba( 0, 0, 0, 0.2),
                0px 0px 10px rgba(0,0,0,0.15),
          inset 0px 3px 5px rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: .5px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  
}

#choices ul li, #itemTypes ul li  {
    /* min-width: 80px; */
    display: block;
    margin-right: 3px;

}

#choices ul li div:hover, #itemTypes ul li div:hover  {
    color: rgba(25, 254, 255, 0.993);
    box-shadow: 0 10px 15px rgba(25, 254, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: .5px solid rgba(25, 254, 255, 0.2);
    border-bottom: 1px solid rgba(25, 254, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px 30px rgb(25, 254, 255);
    transition-delay: .1s;
  }


#choices ul li img, #itemTypes ul li img  {
    object-fit: contain;
    width: 75%;
}

#wardrobe {
    position: absolute;
    top: 7vh;
    left: 0px;
    width: 20vh;
    z-index: 2;
}

#carpet {
    position: absolute;
    bottom: -10%;
    left: -35%;
    WIDTH: 833px;
    z-index: 1;
}

@media only screen and (min-width: 500px) {
    #fashionArena {
        width: 70%;
    }
}

@media only screen and (min-width: 600px) {
    #itemTypes {
        width: 160px;
    }
}

@media only screen and (min-width: 950px) {

    #fashionArena {
        width: 40%;
        right: 20%;
    }
    #wardrobe {
        position: absolute;
        top: 3vh;
        left: 0px;
        width: 30vh;
    }

    #itemTypes {
        width: 245px;
    }

    #itemTypes ul li div {
        width: 100px;
        height: 100px;
    }
   
}

@media only screen and (min-width: 1100px) {
   
}